{% extends 'base.html' %}

{% block content %}

<section>
    <h1 class="text-center"> : TEACHER ADDMIN PANNEL  : </h1>
    <div class="row">
        <div class="col">
            <h3 class="text-center p-3 mb-2 bg-secondary  text-white ">SHOW DATA</h3>
            <div>
                <a href=""><button type="button" class="btn btn-success">Success</button></a>
                <a href=""><button type="button" class="btn btn-success">Success</button></a>
                <a href=""><button type="button" class="btn btn-success">Success</button></a>
                <a href=""><button type="button" class="btn btn-success">Success</button></a>  
            </div>     
        
        </div>
        <div class="col"></div>
        <div class="col">
            <h3 class="text-center p-3 mb-2 bg-secondary  text-white ">SHOW DATA</h3>
            <div>
                <a href="/add_qna"><button type="button" class="btn btn-success">ADD</button></a>
                <a href="/show_all""><button type="button" class="btn btn-success">SHOW ALL</button></a>  
            </div>     
        
        </div>
    </div>
</section>
{% endblock %}

